<div>
    <button>Cadastrar novo funcionário</button>
    <div>
        <label>Procurar:</label>
        <input type="text" placeholder="Qual registro está buscando?">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Departamento</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="assets/images/on.png" alt="" style="height: 20px; width: 20px">
                <img src="assets/images/off.png" alt="" style="height: 20px; width: 20px">
            </td>
            <td>Ryan</td>
            <td>Gomes</td>
            <td>RH</td>
            <td>
                <button>Editor</button>
                <button>Detalhes</button>
            </td>
            <td>
                <button>Excluir</button>
            </td>

        </tr>
    </tbody>
</table>